<div class="header">
    <div>
        <h1 class="header_logo">LIMITLESS</h1>
    </div>
    <div class="header_nav">
        <a href="{% url 'articleapp:list' %}" class="header_nav_a">
            <span>Articles</span>
        </a>
        <a href="{% url 'projectapp:list' %}" class="header_nav_a">
            <span>Project</span>
        </a>
        <a href="{% url 'subscribeapp:list' %}" class="header_nav_a">
            <span>Subscription</span>
        </a>
        {% if not user.is_authenticated %}
        <a href="{% url 'accountapp:login' %}?next={{ request.path }}" class="header_nav_a">
            <span>Login</span>
        </a>
        <a href="{% url 'accountapp:create' %}" class="header_nav_a">
            <span>SignUp</span>
        </a>
        {% else %}
        <a href="{% url 'accountapp:detail' pk=user.pk %}" class="header_nav_a">
            <span>MyPage</span>
        </a>
        <a href="{% url 'accountapp:logout' %}?next={{ request.path }}" class="header_nav_a">
            <span>Logout</span>
        </a>
        {% endif %}
    </div>
</div>